/* Custom */

.menu_main_wrap .logo_main {
    height: auto;
}

.menu_main_wrap {
    background: rgb(3, 0, 193);
    background: linear-gradient(0deg, rgba(1, 1, 1, 0) 0%, rgba(1, 1, 1, 0.8) 70%, rgba(1, 1, 1, 1) 100%);
    transition: all 0.3s ease-out;
}

.top_panel_fixed.top_panel_opacity_transparent .top_panel_wrap {
    background-color: rgba(255, 255, 255, 0);
}

.tp-revslider-slidesli {
    transition: all 0.3s ease-out;
}


/* Clientes */

.section-clients {
    background-color: #eee;
}


.cont-logo {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.cont-logo img {
    width: 100%;
}

.sc_skills_icon {
    cursor: pointer;
}

.sc_skills_icon img {
    width: 40px;
}

.d-none {
    display: none;
}


/* Tabs internas */

/* .sc_tabs.sc_tabs_style_3 .sc_tabs_content {
    padding-top: 156px;
} */

.tab-text {
    transition: all .3s ease-out;
    color: rgba(255,255,255, .7);
}

.tab-text h2 {
    color: rgba(255,255,255, .4);
    font-size: 2rem;
   
    letter-spacing: 1px;
}

.tab-text h3 {
    color: rgba(255,255,255, .3);
    font-size: 1.8rem;
}

.sc_tabs_content.tab-text {
    padding-top: 0 !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.dark_section .sc_skills_columns .sc_skills_item.sc_skills_style_1 span[class*="icon"] {
    transition: all .3s ease-out;
}


.dark_section .sc_skills_columns .sc_skills_item.sc_skills_style_1 span[class*="icon"]:hover {
    color: #eeba00;
    
}

.sc_skills_columns_5 .sc_skills_item.sc_skills_style_1 {
    height: 220px;
}

.sc_skills_bar3.sc_skills_vertical .sc_skills_info {
    margin: 0 0 80px -80px;
    width: 160px;
}

.mail-icon {
    font-size: 50px !important;
}

.lang-item img {
    width: 30px;
}

.lang-item:hover a {
    text-decoration: none;
}

.lang-item span {
    
}

.menu-item.lang-item a {
    border-bottom: none !important;
}

.menu-item.lang-item a:hover {
    border-bottom: none !important;
}

video {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 3rem;
    display: block;
}

.sc_contact_info,
.sc_contact_form_title,
 .sc_contact_form_address_field {

    text-align: center;
}

.sc_contact_form_right {
    padding-top: 0;
    margin-right: 0;
}

.sc_contact_form_right .img-contact img {
    border-radius: 1rem;
}

.btn-tab {
    border-radius: 1rem;
    background-color: #111;
    padding: 1rem;
    padding-top: -100px;
}
.btn-tab img {
    display: block;
    width: 90%;
    margin: 1rem auto;
}

.cont-texts {
    margin-top: 2rem;
}

.btn-icon {
    
    padding: 0.5rem;
    width: 72px;
    height: 60px;
    display: block;
    border-radius: .5rem;
    background-color: #111;
}

.btn-icon span {
    font-size: 1rem;
}

.btn-icon:before, 
.btn-icon:before {
    font-size: 40px !important;
}

.btn-icon span {
    width: 90%;
}

.custom_section {
    background-color: #111;
}

.link-center {
    text-align: center;
}

@media only screen and (min-width: 992px) {

    .link-center {
        text-align: left;
    }
    .cont-logo {
        margin-bottom: 0;
    }

    .lang-item span {
        display: none;
    }

    .sc_contact_form_right {
        padding-top: 100px;
        margin-right: 0;
    }
    .sc_contact_info,
.sc_contact_form_title,
 .sc_contact_form_address_field {

    text-align: left;
}
}